vmdemo/src/main/app/vm-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<flow name="vm-consumerFlow">
		<vm:inbound-endpoint exchange-pattern="one-way" path="q1" connector-ref="VM" doc:name="Receive_VM"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<logger message="second flow started,.................... #[payload]" level="INFO" doc:name="Logger"/>
		<file:outbound-endpoint path="msg" outputPattern="#[server.nanoTime()].json" responseTimeout="10000" doc:name="File"/>
	</flow>
</mule>
