mulesoft/src/main/app/filecopy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="filecopyFlow">
		<file:inbound-endpoint path="F:\Inbox" moveToDirectory="F:\Inbox\backup" responseTimeout="10000" doc:name="File"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<logger message="prope with file#[message.inboundProperties.originalFilename]" level="INFO" doc:name="Logger"/>
		<file:outbound-endpoint path="D:\outboxmule" responseTimeout="10000" doc:name="File"/>
	</flow>
</mule>
