topic-consumer3/src/main/app/topic-consumer3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
	<flow name="topic-consumer3Flow">
		<jms:inbound-endpoint topic="p1" connector-ref="Active_MQ" doc:name="JMS"/>
		<string-to-byte-array-transformer doc:name="String to Byte Array"/>
		<file:outbound-endpoint path="topic-files" outputPattern="#[server.nanoTime()].json" responseTimeout="10000" doc:name="File"/>
		<logger message="topic file received by consumer2" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
