akhimule/src/main/app/jaanu.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="jaanuFlow">
		<file:inbound-endpoint path="renu" moveToDirectory="renu\backup" responseTimeout="10000" doc:name="start"/>
		<file:outbound-endpoint path="prashanth" responseTimeout="10000" doc:name="end"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.originalFilename.endsWith('doc') || message.inboundProperties.originalFilename.endsWith('docx')]">
				<file:outbound-endpoint path="radha_doc" responseTimeout="10000" doc:name="radha"/>
			</when>
			<otherwise>
				<file:outbound-endpoint path="Dolly" responseTimeout="10000" doc:name="Filedoll"/>
			</otherwise>
		</choice>
	</flow>
</mule>
