akhimule/src/main/app/santoorsoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<ws:consumer-config name="calculator" wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap12" serviceAddress="http://www.dneonline.com/calculator.asmx" doc:name="Web Service Consumer"/>
	<flow name="santoorsoapFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="Sanju" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="Chinnu" value="#[message.inboundProperties.'http.query.params'.Chinnu]" doc:name="Variable"/>
		<set-variable variableName="Pasuu" value="#[message.inboundProperties.'http.query.params'.Pasuu]" doc:name="Variable"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: flowVars.Chinnu as :number,
		ns0#intB: flowVars.Pasuu as :number
	}
}

	]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="calculator" operation="Multiply" doc:name="Web Service Consumer"/>
	</flow>
</mule>
