akhimule/src/main/app/soap_all_operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="2501" basePath="sanju" doc:name="HTTP Listener Configuration"/>
	<flow name="soap_all_operationsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/chinnu" doc:name="HTTP"/>
		<set-variable variableName="akhi" value="#[message.inboundProperties.'http.query.params'.akhi]" doc:name="Var1"/>
		<set-variable variableName="siri" value="#[message.inboundProperties.'http.query.params'.siri]" doc:name="Var2"/>
		<set-variable variableName="renu" value="#[message.inboundProperties.'http.query.params'.renu]" doc:name="operation"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.query.params'.renu == &quot;add&quot;]">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: flowVars.akhi as :number,
		ns0#intB: flowVars.siri as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="calculator" operation="Add" doc:name="Web Service Consumer_add"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	Add_result:payload.ns0#AddResponse.ns0#AddResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[message.inboundProperties.'http.query.params'.renu == &quot;sub&quot;]">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: flowVars.akhi as :number,
		ns0#intB: flowVars.siri as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="calculator" operation="Subtract" doc:name="Web Service Consumer_sub"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	Sub_result:payload.ns0#SubtractResponse.ns0#SubtractResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[message.inboundProperties.'http.query.params'.renu == &quot;mul&quot;]">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: flowVars.akhi as :number,
		ns0#intB: flowVars.siri as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="calculator" operation="Multiply" doc:name="Web Service Consumer_mul"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	mul_total:payload.ns0#MultiplyResponse.ns0#MultiplyResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: flowVars.akhi as :number,
		ns0#intB: flowVars.siri as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="calculator" operation="Divide" doc:name="Web Service Consumer"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	div_total:payload.ns0#DivideResponse.ns0#DivideResult
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
</mule>
