temperature/src/main/app/temperature.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="2607" basePath="ram" doc:name="HTTP Listener Configuration"/>
	<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="https://www.w3schools.com/xml/tempconvert.asmx?WSDL" service="TempConvert" port="TempConvertSoap12" serviceAddress="http://www.w3schools.com/xml/tempconvert.asmx" doc:name="Web Service Consumer"/>
	<flow name="temperatureFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/sairam" doc:name="HTTP"/>
		<set-variable variableName="bangaram" value="#[message.inboundProperties.'http.query.params'.bangaram]" doc:name="temp1"/>
		<set-variable variableName="jannu" value="#[message.inboundProperties.'http.query.params'.jannu]" doc:name="operation"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.query.params'.jannu==&quot;CelsiusToFahrenheit&quot;]">
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 https://www.w3schools.com/xml/
---
{
	ns0#CelsiusToFahrenheit: {
		ns0#Celsius: flowVars.bangaram as :string
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Web_Service_Consumer" operation="CelsiusToFahrenheit" doc:name="Web Service Consumer"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 https://www.w3schools.com/xml/
---
{
	farenheit:payload.ns0#CelsiusToFahrenheitResponse.ns0#CelsiusToFahrenheitResult
}]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 https://www.w3schools.com/xml/
---
{
	ns0#FahrenheitToCelsius: {
		ns0#Fahrenheit: flowVars.bangaram as :string
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Web_Service_Consumer" operation="FahrenheitToCelsius" doc:name="Web Service Consumer"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 https://www.w3schools.com/xml/
---
{
	celcius:payload.ns0#FahrenheitToCelsiusResponse.ns0#FahrenheitToCelsiusResult
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
</mule>
