bulk-json-entries/src/main/app/bulk-json-entries.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="db" doc:name="HTTP Listener Configuration"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="sairam" doc:name="MySQL Configuration"/>
	<flow name="bulk-json-entriesFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/bulkjson" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message" metadata:id="608dfd17-881c-4fca-9106-983f3bdae167">
			<dw:input-payload doc:sample="C:\Users\LENOVO\Desktop\123\jsonsample.json" mimeType="application/json"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
		</dw:transform-message>
		<db:insert config-ref="MySQL_Configuration" bulkMode="true" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into voterdata(name,gender) values(#[payload.name],#[payload.gender])]]></db:parameterized-query>
		</db:insert>
		<set-payload value="success................." doc:name="Set Payload"/>
	</flow>
</mule>
