smtp/src/main/app/smtp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="mani" doc:name="HTTP Listener Configuration"/>
	<smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
	<flow name="smtpFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/bittu" doc:name="HTTP"/>
		<set-payload value="this is body text" doc:name="Set Payload"/>
		<set-attachment attachmentName="renu#chinnu" value="#[payload]" contentType="image/gif" doc:name="Attachment"/>
		<smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="renukareddy2607@gmail.com" password="renu0102" connector-ref="Gmail" to="culkid26@gmail.com" from="renukareddy2607@gmail.com" subject="Miss you" cc="shirishareddy0102@gmail.com" responseTimeout="10000" doc:name="SMTP"/>
		<set-payload value="Mails have been sent!" doc:name="Set Payload"/>
	</flow>
</mule>
