filters/src/main/app/all-expressions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="all-expressionsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/expall" doc:name="HTTP"/>
		<expression-filter expression="#[message.inboundProperties.username!=null]" doc:name="Expression"/>
		<logger message="exp1 sent....." level="INFO" doc:name="Logger"/>
		<expression-filter expression="#[message.inboundProperties.password!=null]" doc:name="Expression"/>
		<logger message="exp2 sent...." level="INFO" doc:name="Logger"/>
		<set-payload value="expressions sending.............." doc:name="Set Payload"/>
	</flow>
</mule>
