filters/src/main/app/and-filter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="sanju" doc:name="HTTP Listener Configuration"/>
	<flow name="and-filterFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/andfilter" doc:name="HTTP"/>
		<and-filter doc:name="And">
			<expression-filter expression="#[message.inboundProperties.username!=null]"/>
			<expression-filter expression="#[message.inboundProperties.password!=null]"/>
		</and-filter>
		<set-payload value="expression send ......" doc:name="Set Payload"/>
	</flow>
</mule>
