filters/src/main/app/or-filter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="or-filterFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/orfilter" doc:name="HTTP"/>
		<or-filter doc:name="Or">
			<expression-filter expression="#[message.inboundProperties.username!=null]"/>
			<expression-filter expression="#[message.inboundProperties.password!=null]"/>
		</or-filter>
		<set-payload value="or filter expression sent.................." doc:name="Set Payload"/>
	</flow>
</mule>
