miniproject/src/main/app/miniproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap12" serviceAddress="http://www.dneonline.com/calculator.asmx" doc:name="Web Service Consumer"/>
	<smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
	<flow name="miniprojectFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/sunren" doc:name="HTTP"/>
		<set-variable variableName="var" value="#[message.inboundProperties.'http.query.params'.var]" doc:name="Variable"/>
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.query.params'.var == 'up']">
				<set-variable variableName="add1" value="#[message.inboundProperties.'http.query.params'.add1]" doc:name="Var1"/>
				<set-variable variableName="add2" value="#[message.inboundProperties.'http.query.params'.add2]" doc:name="Var2"/>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: flowVars.add1 as :number,
		ns0#intB: flowVars.add2 as :number
	}
}]]></dw:set-payload>
				</dw:transform-message>
				<ws:consumer config-ref="Web_Service_Consumer" operation="Add" doc:name="Web Service Consumer"/>
				<json:xml-to-json-transformer doc:name="XML to JSON"/>
				<flow-ref name="subflowminiSub_Flow" doc:name="Flow Reference"/>
			</when>
			<when expression="#[message.inboundProperties.'http.query.params'.var == 'mid']">
				<flow-ref name="subflow2Sub_Flow" doc:name="Flow Reference"/>
				<set-variable variableName="fname" value="#[server.nanoTime()].txt" doc:name="Variable"/>
				<file:outbound-endpoint path="file-renu1" outputPattern="#[flowVars.fname]" responseTimeout="10000" doc:name="File"/>
				<logger message="before ftp #[payload]" level="INFO" doc:name="Logger"/>
				<ftp:outbound-endpoint host="ftp.dlptest.com" port="21" user="dlpuser@dlptest.com" password="SzMf7rTE4pCrf9dV286GuNe4N" passive="true" outputPattern="#[flowVars.fname]" responseTimeout="10000" doc:name="FTP"/>
				<set-payload value="file send to ftp path." doc:name="Set Payload"/>
			</when>
			<otherwise>
				<flow-ref name="subflowminiSub_Flow" doc:name="Flow Reference"/>
			</otherwise>
		</choice>
	</flow>
</mule>
